<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>JWT login sysatem</h2>
    <h3>Try this app if you like to</h3>
    <a href="/account" class="btn">Account</a>
    <a href="/account/profile" class="btn">profile</a>
  </div>
</header>


<%- include('partials/footer'); -%>